body{
    background-color: #001c69;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
.projects { 
    display:flex;  
    flex-wrap:wrap; } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}
.about{
    
}