body{
    background-color: #001c69;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    color: whitesmoke;
}

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(0, 0, 0);
    }

.projects { 
    display:flex;  
    flex-wrap:wrap; } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(0, 0, 0); /* pick a color */
    border-radius: 25%;
    color: whitesmoke;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0); /* choose a color */
    display: block;
    margin: auto;;
    color: whitesmoke;
    }
.about{
    
}